* {
  -webkit-user-select: none;
  user-select: none;
}

html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

#game-content {
  <% if(centerApp){ %>
  margin: 20px auto;
  <% } %>
  width: <%= appWidth %>px;
  height: <%= appHeight %>px;
}
